h1{
	text-align:center;
	padding:15px;
	color:#66FCF1;
	font-size:50px; 

}
small{
	font-size:20px;
}
body{
	background-image:url('A.jpg');
	background-color:#0B0C11;
	color:white;
}
h2{
	font-size:22px;
	text-align: center;
}
.bc{
	background-color:#66FCF1;
}
#ml,#l1,#l2{
	text-decoration:none;
	background-color:#66FCF1;
	border-left:7px solid #419E9B;
	color:white;
	padding:10px;
	border-radius:10px;
}
nav{
	width:;
	transition: background-color 2s ease-out;
	transition: width 2s ease-out;
}
#nav{
	background-color:;
	padding:;
	width:237px;
}

#ml:hover,#l1:hover,#l2:hover{
	background-color:#419E9B;
}
span{
	opacity:0;
	transition: opacity 2s ease-out 1s;
}
#mylinks{
	opacity:0;
}
#myInput {
  background-image: url('sicon.jpg');
  background-size: contain;
  background-color:#309BE3;
  color:white; 
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 3px solid white;
  margin: 12px 0px;
  float: left;
}
* {
  box-sizing: border-box;
}
::placeholder{
	color:white;
}
a{
	text-decoration:none;
	color: white;
}
#myUL {
  list-style-type: none;
  padding: 0;
}

.list{
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #66FCF1;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display:none;
}
em{
	color:white;
}
